<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
    <div class="container-lg">
        <h1 class="mt-5"><i class="fa-solid fa-bug" aria-hidden="true"></i> Erreur 404 </h1>
</div>
    <%- include('partials/footer') %>
    
    <%- include('partials/scripts') %>
</body>

</html>