<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
        <div class="container-lg" id="container-table">
            <h1 class="mt-5"><i class="fa-solid fa-gear" aria-hidden="true"></i> Administration </h1>
        </div>
        <%- include('partials/footer') %>

            <%- include('partials/scripts') %>
</body>

</html>