<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
        <div class="container-lg">
            <h1 class="mt-5"><i class="fa-solid fa-phone" aria-hidden="true"></i> Liste des agents </h1>
            <table border="1" class="table table-light table-hover ">
                <thead class="thead-light">
                    <tr>
                        <th>Matricule</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Tel</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                </thead>
            </table>
        </div>
        <%- include('partials/footer') %>

            <%- include('partials/scripts') %>
</body>

</html>