<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/nav') %>
    <div class="container-lg">

    <form enctype="multipart/form-data">
        <h1>Inscription surveillances habitations </h1>
        <fieldset>

                <legend>Ajouter une surveillance d'habitation</legend>

            <table>

                <div class="m-1">
                    <tr>
                        <td>
                            ID :
                        </td>
                        <td><input type="text" class="form-control m-1" name="id" value=""></td>
                    </tr>
                    <tr>
                        <td>Demandeur : </td>
                        <td>
                            <div class="input-group m-1">
                                <input type="text" class="form-control m-1" maxlength="50" name="demandeur" required autofocus placeholder="Obligatoire" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Adresse : </td>
                        <td>
                            <div class="input-group m-1">
                                <input type="text" class="form-control m-1" maxlength="50" name="adresse" required placeholder="Obligatoire" value="">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Localité : </td>
                        <td><input type="number" class="form-control m-1" maxlength="10" name="localite" required placeholder="Obligatoire" value=""></td>
                    </tr>
                    <tr>
                        <td>Date début : </td>
                        <td><input type="datetime-local" class="form-control m-1" name="datedebut" value=""></td>
                    </tr>

                    <tr>
                        <td>Date de fin : </td>
                        <td><input type="datetime-local" class="form-control m-1" name="datefin" value=""></td>
                    </tr>

                    <tr>
                        <td>Mesures: </td>
                            <td>
                                <textarea class="form-control" id="txtArea" name="mesures" rows="4" cols="48"></textarea>
                            </td>
                    </tr>
                    <tr>
                        <td>Véhicule : </td>
                        <td><input type="text" class="form-control m-1" maxlength="50" name="vehicule" placeholder="Ex. Marque Modèle Plaque garage" value=""></td>
                    </tr>
                    <tr>
                        <td colspan="2" m-1>

                        </td>
                    </tr>

                    <table>
                        <tr>
                            <td>
                                <input type="reset" name="bInit" value="Réinitialiser" class="btn bg-danger
                                m-1 text-white" />
                            </td>
                            <td>
                                &nbsp;<input type="submit" name="bAjouthabitation" value="Ajouter" class="btn btn-primary m-1">
                            </td>
                        </tr>

                    </table>

        </fieldset>
    </form>





    </div>
    <%- include('partials/footer') %>
    
    <%- include('partials/scripts') %>
</body>

</html>